input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
		box-shadow: none;
		outline: none;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

input[type=submit],
button[type=submit] {

	&:disabled,
	&[disabled],
	&.disabled {
		cursor: not-allowed;
	}
}

// checkboxes
input[type="checkbox"] {
	display: none;

	// like wpcf7
	& + span {
		position: relative;
		padding-left: 2.5rem;
		cursor: pointer;

		&:before {
			background-color: transparent;
			border: 1px solid $color__interactive;
			padding: 7px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0px;
		}

		&:after {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0px;
		}
	}

	&:checked {

		& + span {

			&:before {
				background-color: transparent;
				border-color: $color__interactive;
			}

			&:after {
				font-family: FontAwesome;
				content: "\f00c";
				color: #fff;
				font-size: 1rem;
				position: absolute;
				left: 0px;
				color: $color__interactive;
				background-color: transparent;
			}
		}
	}
}

// bootstrap
.form-control:focus {
	border-color: $color__interactive;
	box-shadow: none;
}